<% provide(:title, "About") %>
<h1>About</h1>
<p>
  For professional teams who need more efficient group decisions, DeciPro is a digital solution that provides a weighted criteria based approach with statistical analysis that makes decision making faster, more accurate and democratic.
Unlike others, we provide detailed approach that enables advanced analysis.
</p>
