<% provide(:title, "Demo") %>
<div id="content" class="page-wrap">
  <div class="container content-wrapper">
    <div class="entry-content">
      <h1> A short manual:</h1>
      <form class="new_participant" id="new_participant" accept-charset="UTF-8" method="post">
        <div class="field">
          <table  style="float: left">
            <caption id="p0">First Participant</caption>
            <th>
            <td style="border-left: hidden" id="a0">Weight</td>
            <td id="a1">a1</td>
            <td id="a2">a2</td>
            </th>
            <tr>
              <td id="c1"> c1</td>
              <td style="border-left: hidden">
                <input id="w_p1_c1" min="1" max="5" value="2" type="number" onkeydown="return false"
                       onchange='updateInput()' />
              </td>
              <td>
                <input id="p1_a1_c1" min="1" max="5" value="2"  type="number" onkeydown="return false"
                       onchange='updateInput()'  />
              </td>
              <td>
                <input id="p1_a2_c1" min="1" max="5" value="2"  type="number" onkeydown="return false"
                       onchange='updateInput()'  />
              </td>
            </tr>
            <tr>
              <td id="c2"> c2</td>
              <td style="border-left: hidden">
                <input id="w_p1_c2" min="1" max="5" value="2"  type="number" onkeydown="return false"
                       onchange='updateInput()' />
              </td>
              <td>
                <input id="p1_a1_c2" min="1" max="5" value="2"  type="number" onkeydown="return false"
                       onchange='updateInput()' />
              </td>
              <td>
                <input id="p1_a2_c2" min="1" max="5" value="2"  type="number" onkeydown="return false"
                       onchange='updateInput()' />
              </td>
            </tr>
          </table>
          <table  style="float: left">
            <caption id="p1">Second Participant</caption>
            <th>
            <td style="border-left: hidden">Weight</td>
            <td>a1</td>
            <td>a2</td>
            </th>
            <tr>
              <td> c1</td>
              <td style="border-left: hidden">
                <input id="w_p2_c1" min="1" max="5" type="number" value="3" onkeydown="return false"
                       onchange='updateInput()' />
              </td>
              <td>
                <input id="p2_a1_c1" min="1" max="5" value="3" type="number" onkeydown="return false"
                       onchange='updateInput()' />
              </td>
              <td>
                <input id="p2_a2_c1" min="1" max="5" value="3" type="number" onkeydown="return false"
                       onchange='updateInput()' />
              </td>
            </tr>
            <tr>
              <td> c2</td>
              <td style="border-left: hidden">
                <input id="w_p2_c2" min="1" max="5" value="3" type="number" onkeydown="return false"
                       onchange='updateInput()' />
              </td>
              <td>
                <input id="p2_a1_c2" min="1" max="5" value="3" type="number" onkeydown="return false"
                       onchange='updateInput()' />
              </td>
              <td>
                <input id="p2_a2_c2" min="1" max="5" value="3" type="number" onkeydown="return false"
                       onchange='updateInput()' />
              </td>
            </tr>
          </table>
          <table  style="float: inherit">
            <caption id="p2">Third Participant</caption>
            <th>
            <td style="border-left: hidden">Weight</td>
            <td>a1</td>
            <td>a2</td>
            </th>
            <tr>
              <td> c1</td>
              <td style="border-left: hidden">
                <input id="w_p3_c1" min="1" max="5" type="number" value="3" onkeydown="return false"
                       onchange='updateInput()' />
              </td>
              <td>
                <input id="p3_a1_c1" min="1" max="5" value="3" type="number" onkeydown="return false"
                       onchange='updateInput()' />
              </td>
              <td>
                <input id="p3_a2_c1" min="1" max="5" value="3" type="number" onkeydown="return false"
                       onchange='updateInput()' />
              </td>
            </tr>
            <tr>
              <td> c2</td>
              <td style="border-left: hidden">
                <input id="w_p3_c2" min="1" max="5" value="3" type="number" onkeydown="return false"
                       onchange='updateInput()' />
              </td>
              <td>
                <input id="p3_a1_c2" min="1" max="5" value="3" type="number" onkeydown="return false"
                       onchange='updateInput()' />
              </td>
              <td>
                <input id="p3_a2_c2" min="1" max="5" value="3" type="number" onkeydown="return false"
                       onchange='updateInput()' />
              </td>
            </tr>
          </table>
          <br>
          <br>
          <table style="float: inherit">
            <caption>Overall scores</caption>
            <th>
            <td>a1</td>
            <td>a2</td>
            </th>
            <tr>
              <td> c1</td>
              <td><label id="a1_c1"/></td>
              <td><label id="a2_c1"/></td>
            </tr>
            <tr>
              <td> c2</td>
              <td><label id="a1_c2"/></td>
              <td><label id="a2_c2"/></td>
            </tr>
            <tr>
              <td>Total</td>
              <td><label id="t_a1"/></td>
              <td><label id="t_a2"/></td>
            </tr>
          </table>
          <br>
          <br>
          <h1> The Statistical Analysis:</h1>
          <p id="rank"></p>
          <p id="test"></p>
        </div>
        <div id="myDiv"></div>
      </form>
    </div>
  </div>
</div>

<script>
  updateInput();
</script>