<p id="notice"><%= notice %></p>

<%= link_to 'Edit', edit_meeting_participant_path(@participant.meeting_id, @participant) %> |
<%= link_to 'Back', meeting_participant_path(@participant.meeting_id, @participant) %>
